<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fridge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddCategoriesToList" />
        <activity android:name=".AddDiet" />
        <activity android:name=".AddProductsToList" />
        <activity android:name=".AddProductToFridge" />
        <activity android:name=".AddShoppingList" />
        <activity android:name=".AddUsersToShoppingList" />
        <activity android:name=".CustomiseDietTypes" />
        <activity android:name=".CustomiseMeals" />
        <activity android:name=".Diet" />
        <activity android:name=".Diet_Find" />
        <activity android:name=".Diet_New" />
        <activity android:name=".Diet_Remove" />
        <activity android:name=".Diet_View" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarkProductAsBought" />
        <activity android:name=".Menu" />
        <activity android:name=".Recipe" />
        <activity android:name=".RemoveDiet" />
        <activity android:name=".RemoveProductsFromFridge" />
        <activity android:name=".RemoveShoppingList" />
        <activity android:name=".SelectedCategory" />
        <activity android:name=".SignUp" />
        <activity android:name=".SuggestMeal" />
        <activity android:name=".SuggestMeal_View" />
    </application>

</manifest>